<div
  id="featured-products-carousel"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-bs-target="#featured-products-carousel"
      data-bs-slide-to="0"
      class="active"
    ></li>
    <li
      data-bs-target="#featured-products-carousel"
      data-bs-slide-to="1"
    ></li>

    <li
      data-bs-target="#featured-products-carousel"
      data-bs-slide-to="2"
    ></li>
  </ol>

  <div class="carousel-inner">


    <div class="carousel-item active image-container">
      <div class="carousel-placeholder carousel-placeholder-1"></div>

      <div class="container">
        <div class="carousel-caption ">
          <h2>Product 1</h2>
          <p>your product description here .</p>
          <p>
            <a
              href="#service-1"
              class="btn btn-lg btn-primary"
              role="button"
            >
              Learn More
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- item -->

    <div class="carousel-item">
      <div class="carousel-placeholder carousel-placeholder-2"></div>

      <div class="container">
        <div class="carousel-caption">
          <h2>Product 2</h2>
          <p>your product description here .</p>
          <p>
            <a
              href="#service-2"
              class="btn btn-lg btn-primary"
              role="button"
            >
              Learn More
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- item -->

    <div class="carousel-item">
      <div class="carousel-placeholder carousel-placeholder-3"></div>

      <div class="container">
        <div class="carousel-caption">
          <h2>Product 3</h2>
          <p>your product description here .</p>
          <p>
            <a
              href="#service-3"
              class="btn btn-lg btn-primary"
              role="button"
            >
              Learn More
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- item -->

    ‌<button
    data-bs-target="#featured-products-carousel"
    class="carousel-control-prev"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>

    <button
      class="carousel-control-next"
      role="button"
      data-bs-target="#featured-products-carousel"
      data-bs-slide="next"
    >
      ‌
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
  <!-- carousel -->
</div>




<!--list product-->
<div class="container px-4 px-lg-5 mt-5">

  <div class="row gx-4 gx-lg-5
                row-cols-1
                row-cols-md-2
                row-cols-xl-3
                justify-content-center"


  >

    <div class="mb-5" *ngFor="let products of productList">
      <div class="card h-100">
        <!-- Product image-->
        <img class="card-img-top h-50"   src="{{products.productImg}}" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4" >
          <div class="text-center">
            <!-- Product name-->
<!--            <a [routerLink]="['/products/view-product/',products.productId]" class="text-decoration-none">-->

            <a routerLink="/products/view-product/{{products.id}}" class="text-decoration-none">
              <h6 class="fw-bolder">
                {{products.productName}}
              </h6>
            </a>

            <!-- Product price-->
            $-{{products.price}}
          </div>
        <p  class="card-text ">{{products.description}}</p>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 py-2 border-top-0 ">
<!--          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>-->
          <small class="text-muted">{{products.rating}} stars</small>
        </div>
      </div>
    </div>

  </div>
</div>
