<!--This is two way data binding


<br>
<br>
<hr>

<h2 class="bg-light mb-2 my-5 text-center">Add  New  Product</h2>



<form (submit)="addNewProduct(addProductForm)"  #addProductForm="ngForm">

  <div class="row">

    <div class="col-md-6 mb-3">
    <label for="validationServer01" class="form-label">Product Name</label>
    <input type="text" class="form-control is-valid" id="validationServer01"
           value="Enter product Name" required name="product_name" ngModel>
    </div>

    <div class="col-md-6 mb-3">
      <label for="validationServer02" class="form-label">Category Id</label>
      <input type="text" class="form-control is-valid" id="validationServer02"
             name="product_category"
             value="Enter category id" required ngModel>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="validationServer03">Description</label>
      <textarea name="product_description" id="validationServer03"
               required placeholder="Enter product description"  cols="100" rows="3"
                 ngModel>
      </textarea>
    </div>

    <div class="col-md-6 mb-3">
      <label>Rating</label>
      <select name="product_rating" class="form-select" required ngModel>
        <option selected value="">Choose....</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>

      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">Product color</label>
      <input type="text" class="form-control"
             name="product_color" value="Enter product name" ngModel>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer02">Is Available</label>
      <select name="product_available" class="form-select" required ngModel>
        <option selected value="">Choose...</option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">Price</label>
      <input type="text" class="form-control" value="Enter product price"
             name="product_price" required ngModel>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer02">Reviews</label>
      <select name="product_reviews" class="form-select" ngModel>
        <option selected value="">Choose....</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>

      </select>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
<br>
<hr>


-->

<!--This is one way data binding-->



<!--<button type="button" class="btn btn-primary" (click)="newMovieClick()">New Movie</button>-->

<a routerLink="/side-layout/add-product"
   class="list-group-item border-0   mx-3 p-3"  style="background-color: #eeffee"
   (click)="newProductClick()">
  <h4>Add new product</h4>
</a>

<ng-template #template>
  <form [formGroup]="productForm" (ngSubmit)="saveOrUpdateProduct()">

    <div class="modal-header">
      <h4 class="modal-title pull-left">
        {{this.editMode?'Edit Product':'New Product'}}
      </h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close"
              (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <div class="row">

        <div class="col-md-6 mb-3">
          <label for="productId" class="form-label">Product Id</label>
          <input type="text" class="form-control is-valid" id="productId"
                 required name="product_id" formControlName="id">
        </div>
      </div>



      <div class="row">

        <div class="col-md-6 mb-3">
          <label for="productName" class="form-label">Product Name</label>
          <input type="text" class="form-control is-valid" id="productName"
                  required name="product_name" formControlName="productName">
        </div>

        <div class="col-md-6 mb-3">
          <label for="categoryId" class="form-label">Category Id</label>
          <input type="text" class="form-control is-valid" id="categoryId"
                 name="product_category" required formControlName="categoryId">
        </div>
      </div>


      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="description">Description</label>
          <textarea name="product_description" id="description"
                    required placeholder="Enter product description"  cols="100" rows="3"
                    formControlName="description">
      </textarea>
        </div>

        <div class="col-md-6 mb-3">
          <label>Rating</label>
          <select name="product_rating" class="form-select" required formControlName="rating">
            <option selected value="">Choose....</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>

          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="productName">Product color</label>
          <input type="text" class="form-control"
                 name="product_color"
                 formControlName="color">
        </div>
        <div class="col-md-6 mb-3">
          <label for="categoryId">Is Available</label>
          <select name="isAavailable" class="form-select" required
                  formControlName="isAvailable">
            <option selected value="">Choose...</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="productName">Price</label>
          <input type="text" class="form-control"
                 name="product_price" required formControlName="price">
        </div>

        <div class="col-md-6 mb-3">
          <label for="categoryId">Reviews</label>
          <select name="reviews" class="form-select" formControlName="reviews">
            <option selected value="">Choose....</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>

          </select>
        </div>
      </div>


      </div>
  <!--modal-body-->


    <div class="modal-footer">

      <div class="mb-3">
        <button type="submit" class="btn btn-primary"
                style="margin-right:10px;"
          >

          {{this.editMode?'Update':'Save'}}
        </button>
        <button type="button" class="btn btn-primary"
                (click)="closeProductModal()"
        >Close</button>
      </div>
    </div>

  </form>
</ng-template>

<!--

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Director</th>
    <th>Year</th>
    <th>Action</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let  product  of  products, index as i">
    <td>{{product.pro}}</td>
    <td>{{product.director}}</td>
    <td>{{product.year}}</td>
    <td>
      <button type="button"
              class="btn btn-outline-primary"
              (click)="this.editBtnClick(i)">Edit</button>
      <button type="button" class="btn btn-outline-danger"
              (click)="this.btnDeleteproductClick(i)"> Delete</button>

    </td>

  </tr>
  </tbody>
</table>

-->
