<!-- Footer-->
<footer>

  <div class="footer-wrapper">
    <div class="footer-container">
      <div class="footer-box">
        <div class="quick-link">
          <h3 class="footer-detail-title">Who we are</h3>
          <ul>
            <li> <a href="#">About us</a></li>
            <li> <a href="#">Add your product</a></li>
            <li> <a href="#">Discount</a></li>
            <li> <a href="#">My account</a></li>
          </ul>
          <div class="copyright">
            Copyright &copy; Your Website 2023
          </div>
        </div>

        <div class="need-help">
          <h3 class="footer-detail-title">Need Help</h3>
          <ul>
            <li> <a href="#">FAQs</a></li>
            <li> <a href="#">Policies</a></li>
            <li> <a href="#">Sitemap</a></li>
            <li> <a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="contact-link">
          <h3 class="footer-detail-title">Contact</h3>
          <ul>
            <li> <a href="#">09421555555</a></li>
            <li> <a href="#">onlineshop@gmail.com</a></li>
            <li> <a href="#">27 street ,42x46 , Mandalay</a></li>
          </ul>
        </div>
        <div class="app-link">
          <h3 class="footer-detail-title">App</h3>
          <ul>
            <li> <a href="#">Android</a></li>
            <li> <a href="#">iOS</a></li>
            <li> <a href="#">Direct Download</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>
